
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel orange darken-2 z-depth-0">
        <div class="row valign-wrapper white-text">
            <div class="col s4">
                <img src="images/6.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8">
             <h4>
                I Tried First
              </h4>
                <h3>
                {{account?.balance | currency:'EUR':true:'.2-2'}}
                </h3>
            </div>
        </div>
    </div>
</div>

<ul class="collection">
  <li class="collection-item avatar"
      *ngFor="#contact of contacts | async">
      <!--<a [routerLink]="['/ContactChat?name=name', {id: contact.id}]">-->
      <a (click)="gotoContactChat(contact.id, contact.name, contact.image, contact.account)">
        <img [src]="contact.image" alt="" class="circle">
        <span class="title">{{contact.name}}</span>
      </a>
  </li>
</ul>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large material-icons orange darken-2">add</i>
    </a>
</div>